option {
  background-color: #fff !important;
}
option:hover {
  background: #ff9500 -webkit-linear-gradient(bottom, #ff9500 0%, #ff9500 100%) !important;
  margin: 40px !important;
}

.section1{
  accent-color: orange;
  color: white;
}