.sidenav {
    background: #fff;
    transition: all 0.5s ease-in-out;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 35rem;
    height: 100vh;
    font-style: normal;
    overflow: scroll;
  }
  
  .modal-text {
    font-weight: 400;
  }
  
  
  